<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^$ app/webroot/ [L]
  RewriteRule (.*) app/webroot/$1 [L]
</IfModule>


## COVERAGE_TGT_DIR is coverage target directory. default:/app
## COVERAGE_TMP_DIR is to save coverage data(needs write permission). defalut:/app/tmp/
## COVERAGE_DST_DIR is to save coverage report(needs write permission). default:/app/webroot/reports
# SetEnv COVERAGE_TGT_DIR '/var/www/html/blogTutorial/app/Controller'
# SetEnv COVERAGE_TMP_DIR '/var/www/html/blogTutorial/app/tmp/cvg'
# SetEnv COVERAGE_DST_DIR '/var/www/html/blogTutorial/app/webroot/rpt'

php_value auto_prepend_file /var/www/html/blogTutorial/app/Lib/CoverageDumper.php
