/* app/webroot/css/task.css */

.roundBox {
  background: #FFDACC;
  border-radius: 10px;
  font-weight: normal;
  padding: 10px;
  margin: 10px 0;
}

.button {
  background-color: #7A90C0;
  border-radius: 30px;
  padding: 5px 25px;
  line-height: 2em;
}
